<!doctype html>
<title>Intro to Web</title>
<link rel="stylesheet" href="/static/styles/intro.css">
<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul style="text-align: left;list-style-type: none; display: inline-flex;">
        <li style="  margin-left: 10px;
        margin-right: 10px;">
            <a class="nav-link" href="/">Challenge 1</a>
        </li>
        <li style="  margin-left: 10px;
        margin-right: 10px;">
            <a class="nav-link" href="/chall2">Challenge 2</a>
        </li>
        <li style="  margin-left: 10px;
        margin-right: 10px;">
            <a class="nav-link" href="/chall3">Challenge 3</a>
        </li>
    </ul>
</div>